body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.hero-container {
  padding-left: 16vw;
  padding-right: 16vw;
  padding-bottom: 48px;
  background-color: #1f2937;
  gap: 16px;
  display: flex;
  justify-content: center;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  max-width: 842px;
}
.header {
  display: flex;
  padding-bottom: 32px;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  gap: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.header.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  padding-top: 16px;
}

.hero-left {
  max-width: 458px;
}
.heroimg-container {
  overflow: hidden;
  box-sizing: border-box;
}
#heroimg {
  max-width: 500px;
  max-height: 250px;

  margin: 0 70px 0 -70px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul { 
  margin: 0;
  padding-top: 16px;
  display: flex;
  gap: 16px;
}

.hero.title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.secondary {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 8px;
}

.cta {
  background-color: #3882F6;
}

button.cta {
  padding: 8px 24px;
  border-radius: 8px;
  border: 0;
  color: #F9FAF8;
  font-weight: bold;
}

/* Random Information */
.random-info {
  display: flex;
  padding: 48px 16vw;
  align-items: center;
  flex-direction: column;
}

.random.title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 8px;
}

.random-image {
  border: 3px solid #3882F6;
  border-radius: 8px;
  margin-bottom: 8px;
}
.illustrations {
  display: flex;
  max-width: 790px;
  gap: 32px;
}

.illustration {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 150px;
  color: darkslategray;
}

/* Testimonial */
.testimonial {
  background-color: #E5E7EB;
  padding: 48px 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 790px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}
.name {
  font-weight: bold;
}

/* Call to Action */
.call-to-action {
  padding: 48px 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta.bottom {
  padding: 32px 96px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 842px;
}

.cta-content {
  display: flex;
  justify-content: space-between;
}

.buttons-bottom {
  display: flex;
  align-items: center;
}

.cta-reverse {
  border: 2px solid white;
  background-color: transparent;
  color: #F9FAF8;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 8px;
}

.cta.text,
.cta.title {
  color: #F9FAF8;
}

.cta.title {
  font-weight: bold;
  font-size: large;
}

/* Footer */